{% extends 'base1.html'%}
{%load static from staticfiles %}

{% block content %}

<div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About Us
                    
                </h1>
                <p class="post_text">
Established in 2017, BJJ Warehouse is one of the most established and trusted retailers in the Brazilian jiu-jitsu industry.  Through our flagship site, we curate merchandise and Articles from around the world, giving you the best Information and prices.  We offer detailed descriptions, photos, sizing charts and reviews so you can make an informed purchase.</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://assets.fightland.com/content-images/contentimage/51544/vice-gracie333.jpg" alt="">
                <h3 class="post_text">Heilo Gracie
                    
                </h3>
                <p class="post_text">A Brazilian martial artist who, together with his brother Carlos Gracie, founded the martial art of Brazilian jiu-jitsu. Hélio is one of the first sports heroes in Brazilian history; Named Man of the Year in 1997 by the American martial arts publication Black Belt magazine.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">     
                <img class="img-circle img-responsive img-center" src="http://img14.deviantart.net/ded4/i/2015/114/4/8/bruce_lee_12_by_kse332-d53mwzy.jpg" alt="">
                <h3>Bruce Lee
                    
                </h3>
                <p class="post_text">He is widely considered by commentators, critics, media, and other martial artists to be one of the most influential martial artists of all time,[5] and a pop culture icon of the 20th century.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://upload.wikimedia.org/wikipedia/commons/5/5c/Marcelo_garcia.jpg" alt="">
                <h3 class="post_text">Marcelo Garcia
                    
                </h3>
                <p class="post_text">A Brazilian grappler and jiu-jitsu competitor widely considered to be one of the best grapplers and arguably the best pound for pound submission grappler in the world.[1] Garcia is a black belt in Brazilian jiu-jitsu under Fabio Gurgel of Team Alliance.</p>
            </div>
        </div>
</div>


{% endblock content %}