{% extends 'base1.html'%}
{%load static from staticfiles %}

{% block content %}

<article class="video">
    <figure>
      <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/paG__3FBLzI">
      <img class="videoThumb" src="https://cdn2.omidoo.com/sites/default/files/imagecache/full_width/images/bydate/20130214/bm-7.jpeg"></a>
    </figure>
    <h2 class="videoTitle">Mesopotamia</h2>
  </article>

  <article class="video" background-color"white" height="30px">
    <figure>
      <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/paG__3FBLzI">
      <img class="videoThumb" src="//i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
    </figure>
    <h2 class="videoTitle">Mesopotamia</h2>
  </article>



<article class="video">
    <figure>
      <a class="fancybox fancybox.iframe" href="//www.youtube.com/embed/paG__3FBLzI">
      <img class="videoThumb" src="//i1.ytimg.com/vi/paG__3FBLzI/mqdefault.jpg"></a>
    </figure>
    <h2 class="videoTitle">Mesopotamia</h2>
  </article>

{% endblock content %}