{% extends "base1.html" %}
 
{% block content %}
<button class="btn btn-default" onclick="location.href='{% url 'new_post' %}'">New Post</button>

    {% for post in posts %}
        <div class="row">
            <hr>
            <div class="col-md-2 col-sm-3 text-center">
                <a class="story-img" href="#">
                    <img src="https://static1.squarespace.com/static/565606c3e4b0c668da481603/t/565f2820e4b0b002ffcfc8e5/1449076769612/" style="width:100px; height: 100px; background-color: #12ABB2; color: #ffffff;" class="img-circle">
                </a>
            </div>

            <div class="col-md-10 col-sm-9">
                <h3 class="blog-title">{{ post.title }}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        <p class="post_text blog-text">{{ post.content|truncatewords:30 }}</p>
                        <p class="post_text" ><button class="btn btn-default" id="read-more" onclick="location.href={{ post.id }}">Read More</button></p>
                        <p class="post_text">{{ post.published_date}} | <strong>Views</strong> {{ post.views }} | <strong>Tag</strong> {{ post.tag }} </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    
{% endblock %}